.App {
  text-align: center;
}
input {
  outline: none;
  border-bottom: 1px dotted #535252;
  border-radius: 0;
  padding: 0 0 5px;
  width: 90%;
  height: 50px;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  /* color: #fff; */
  background: transparent;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
input:placeholder-shown {
  text-align: center;
}
